<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/PID_Assignment/views/img/logo.png">
	<link rel="stylesheet" type="text/css" href="/PID_Assignment/views/css/screen.css" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/PID_Assignment/views/css/list.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</head>

<body class="author-template">
	<div class="site-wrapper">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/PID_Assignment/views/pageFront/index_.html">
				<img src="/PID_Assignment/views/img/logo.png" alt="Fashion Critiques" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">首頁<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">商品列表</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/order.html">訂單</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/shoppingCart.html">購物車</a>
					</li>

				</ul>
				<span class="socialheader row">
					<div class="col" id="userName">userName</div>
					<a class="col" href="/PID_Assignment/views/pageFront/login.html">登入</a>
				</span>
			</div>
		</nav>
		<br><br><br><br><br><br>

		<div class="row">
			<div class="col"></div>
			<div class="col-1">
				<button class="btn btn-danger" type="button" id="btnresetAll">重置所有商品內容</button>
			</div>
			<div class="col-1"></div>
			<div class="col-1">
				<button class="btn btn-warning" type="button" id="btnUpdateAll">更新所有商品內容</button>
			</div>
			<div class="col-1"></div>
			<div class="col-1">
				<button class="btn btn-success" type="button" id="btnresetAll">新增商品</button>
			</div>
			<div class="col-1"></div>
		</div>

		<ul class="list" id="list">

		</ul>

	</div>

	<br><br>
	<footer class="site-footer clearfix">
		<a href="#top" id="back-to-top" class="back-top"></a>
		<div class="text-center">
			<a href="index.html">Nectaria Template</a> &copy; 2016<br />
			Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
		</div>
	</footer>
	</div>

</body>
<script type="module">
	import { Commodity } from "../js/models/commodity.js";

	//假資料－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
	var commoditys = [
		new Commodity("11", "abc1", 100, 50, "open", "commodityText", null),
		new Commodity("12", "abc2", 22, 30, "open", "commodityText", null),
		new Commodity("13", "abc3", 70, 70, "close", "commodityText", null),
		new Commodity("14", "abc4", 50, 80, "open", "commodityText", null),
		new Commodity("15", "abc5", 55, 50, "open", "commodityText", null),
		new Commodity("16", "abc6", 42, 30, "close", "commodityText", null)
	];
	//假資料－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
	// commodityID, commodityName, commodityPrice, commodityQuantity, commodityStatus, commodityText, commodityImage


	$(window).ready(() => {
		$("#list").empty();
		commoditys.forEach(item => {
			$("#list").append(`
			<li>
				<div class="row titel">
					<div class="col-3"><strong>商品圖片</strong></div>
					<div class="col-3"><strong>名稱</strong></div>
					<div class="col-3"><strong>單價</strong></div>
					<div class="col-2"><strong>數量</strong></div>
					<div class="col-1"><strong>狀態</strong></div>
				</div>
				<div class="row">
					<div class="col-3">
						<img src="/PID_Assignment/views/img/gravatar.jpg"><br>
					</div>
					<div class="col-3"><input id="commodityName${item.commodityID}" name="commodityName${item.commodityID}" type="text" value="${item.commodityName}"></div>
					<div class="col-3"><input id="commodityPrice${item.commodityID}" name="commodityPrice${item.commodityID}" type="number" value="${item.commodityPrice}"></div>
					<div class="col-2"><input id="commodityQuantity${item.commodityID}" name="commodityQuantity${item.commodityID}" type="number" min="0"
							value="${item.commodityQuantity}"></div>
					<div class="col-1">
						<select id="select${item.commodityID}" name="select${item.commodityID}" class="custom-select">
							<option value="open">上架</option>
							<option value="close">下架</option>
							<option value="delete">刪除</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-5">
						更新圖片
						<input type="file" name="commodityImg${item.commodityID}" id="commodityImg${item.commodityID}">
					</div>
					<div class="col-5">
						<textarea id="textarea${item.commodityID}" name="textarea${item.commodityID}" cols="40" rows="5" class="form-control">${item.commodityText}</textarea>
					</div>
					<div class="col-2"><button class="btn btn-success" type="button" id="btnUpdate${item.commodityID}">更新商品內容</button></div>
				</div><hr><hr>
			</li>
			
			
			`);

			$(`#select${item.commodityID}`).val(item.commodityStatus);
			$(`#btnUpdate${item.commodityID}`).click(function() {
				alert($(this).closest("li").index());
			});
		});
	});
</script>

</html>