<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/PID_Assignment/views/img/logo.png">

	<title>Signin Template for Bootstrap</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<!-- Custom styles for this template -->
	<link href="/PID_Assignment/views/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
	<form class="form-signin">
		<a href="/PID_Assignment/views/pageFront/index_.html"><img class="mb-4" src="/PID_Assignment/views/img/logo.png"
				alt="回首頁" style="background-color: black;"></a>
		<h1 class="h3 mb-3 font-weight-normal">管理員登入</h1>
		<label for="userID" class="sr-only">帳號</label>
		<input type="text" id="userID" name="userID" class="form-control" placeholder="帳號" required autofocus>
		<label for="userPassword" class="sr-only">密碼</label>
		<input type="password" id="userPassword" name="userPassword" class="form-control" placeholder="密碼" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
		<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
	</form>

</body>

</html>