.shoppingCart {
    font-size: 20px;
    width: 95%;
    margin: auto;
    height: auto;
}

.shoppingCart img {
    height: 100px;
}

.shoppingCart input {
    width: 100%;
}

.img {
    width: 25%;
}

.name {
    width: 20%;
}

.price {
    width: 20%;
}

.quantity {
    width: 25%;
}

.delete {
    width: 10%;
}