<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/PID_Assignment/views/img/logo.png">
	<link rel="stylesheet" type="text/css" href="/PID_Assignment/views/css/screen.css" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/PID_Assignment/views/css/list.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
	img {
		margin: 5px;
		max-height: 100px;
	}

	.item {
		margin: 10px;
	}
</style>
<script type="module" src="/PID_Assignment/views/js/title.js"></script>
<script type="module">
	import { ExpectationList } from "../js/models/expectationList.js";
	import { ShoppingCart } from "../js/models/shoppingCart.js";

	import { ExpectationListViewModel } from "../js/viewModels/expectationListViewModel.js";

	function updateView() {
		$.ajax({
			type: "GET",
			url: "/PID_Assignment/expectationList/getAll"
		}).then(function (e) {
			let jsonArr = JSON.parse(e);
			let layoutStr = "";
			for (let jsonObj of jsonArr) {
				$(".mainShow").append(ExpectationListViewModel.getListView(
					jsonObj['_commodityID'],
					jsonObj['_commodityName'],
					jsonObj['_commodityPrice'],
					jsonObj['_commodityQuantity'],
					jsonObj['_creationDate']
				));

				$(`#delete${jsonObj['_commodityID']}`).click(() => {
					deleteItem(jsonObj['_commodityID']);
				});

				$(`#btnBuy${jsonObj['_commodityID']}`).click(() => {
					buyItem(jsonObj['_commodityID']);
				});
			}
		});
	}

	function deleteItem(id) {
		$.ajax({
			type: "DELETE",
			url: "/PID_Assignment/expectationList/delete",
			data: { 0: id }
		}).then(function (e) {
			if (e === "1") {
				$(`#item${id}`).empty();
			} else {
				alert("刪除失敗");
			}
		});
	}

	function buyItem(id) {
		let shoppingCart = new ShoppingCart(id, $(`#buyQuantity${id}`).val());
		if (shoppingCart.buyQuantity <= 0) {
			alert("購買數量請大於0");
		}
		$.ajax({
			type: "POST",
			url: "/PID_Assignment/shoppingCart/addByObj",
			data: { 0: JSON.stringify(shoppingCart) }
		}).then(function (e) {
			if (e === "1") {
				alert("放入購物車");
			}
		});
	}

	$(window).ready(() => {
		updateView();
	});
</script>

<body class="author-template">
	<div class="site-wrapper">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/PID_Assignment/views/pageFront/index_.html">
				<img src="/PID_Assignment/views/img/logo.png" alt="Fashion Critiques" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">首頁<span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/index_.html">商品列表</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/order.html">訂單</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/shoppingCart.html">購物車</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/PID_Assignment/views/pageFront/expectationList.html">願望清單</a>
					</li>
				</ul>
				<span class="socialheader row">
					<div class="col" id="userName">userName</div>
					<div class="col">
						<a id="textLogin" href="/PID_Assignment/views/pageFront/login.html">登入</a>
					</div>
					<div class="col" id="textregistered">
						<a href="/PID_Assignment/views/pageFront/registered.html">註冊</a>
					</div>

				</span>
			</div>
		</nav>
		<br><br><br><br><br><br>
		<div class="mainShow"></div>
		<br><br>
		<footer class="site-footer clearfix">
			<a href="#top" id="back-to-top" class="back-top"></a>
			<div class="text-center">
				<a href="index.html">Nectaria Template</a> &copy; 2016<br />
				Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
			</div>
		</footer>
	</div>
</body>

</html>