<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Nectaria - Free HTML Template by WowThemes.net</title>
	<meta name="description" content="Thoughts, reviews and ideas since 1999." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" type="text/css" href="/PID_Assignment/views/css/screen.css" />
	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="post-template">
	<div class="site-wrapper">
		<!-- 頭 -->
		<nav class="main-nav overlay clearfix">
			<a class="blog-logo" href="/PID_Assignment/views/index.html">
				<img src="/PID_Assignment/views/img/logo.png" alt="Fashion Critiques" />
			</a>
			<ul id="menu">
				<li class="nav-home nav-current" role="presentation"><a href="/PID_Assignment/views/index.html">Home</a>
				</li>
				<li class="nav-article-example" role="presentation"><a href="/PID_Assignment/views/article.html">Post
						Example</a></li>
				<li class="nav-about-us" role="presentation"><a href="/PID_Assignment/views/about.html">Page Example</a>
				</li>
				<li class="nav-author-page" role="presentation"><a href="/PID_Assignment/views/author.html">Author
						Page</a></li>
				<span class="socialheader">
					<a href="#"><span class='symbol'>circletwitterbird</span></a>
					<a href="#"><span class='symbol'>circlefacebook</span></a>
					<a href="#"><span class='symbol'>circlegoogleplus</span></a>
					<a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a>
				</span>
			</ul>
		</nav>

		<div style="height: 100px;"> </div>

		<main id="content" class="content" role="main">
			<div class="wraps">
				<img src="/PID_Assignment/views/img/shadow.png" class="wrapshadow">
				<article class="post featured">
					<form>
						<div class="form-group row">
							<label for="userID" class="col-4 col-form-label">帳號</label>
							<div class="col-8">
								<input id="userID" name="userID" placeholder="ID" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-4 col-form-label">密碼</label>
							<div class="col-8">
								<input id="password" name="password" placeholder="password" type="password""
									class=" form-control">
							</div>
						</div>
						<div class="form-group row">
							<div class="offset-4 col-8">
								<button name="submit" type="submit" class="btn btn-primary">登入</button>
							</div>
						</div>
					</form>

					<script>
						(function () { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = 'https://wowthemesdemo.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
				</article>
			</div>
		</main>
		<div class="clearfix">
		</div>

		<footer class="site-footer clearfix">
			<a href="#top" id="back-to-top" class="back-top"></a>
			<div class="text-center">
				<a href="/PID_Assignment/views/index.html">Nectaria Template</a> &copy; 2016<br />
				Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/PID_Assignment/views/js/masonry.min.js"></script>
	<script type="text/javascript" src="/PID_Assignment/views/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="/PID_Assignment/views/js/index.js"></script>
</body>

</html>